
<nav class="mb-1 navbar navbar-expand-lg navbar-light bg-light navbar-background ">
    <div ng-controller="FilterController as modal"
    class="modal-container" ng-show="modal.show">
 <div class="modal-window">
   <div class="row">
      <div class="col-12">
          <button class="btn btn-default float-right " ng-click="modal.returnValue('no')">X</button>
       </div>
   </div>
  <div class="justify-content-center text-center col-12 mt-5">
    <span class="mr-3">
      Min. Price
    </span>
    <span>
        {{sliderValue1 | currency}}
    </span>
  </div>
   <div class="justify-content-center text-center col-12 mt-5">
      <slider slideStop="executeMe()" ng-model="sliderValue1"
       min="{{minValue}}" step="{{step}}" max="{{maxValue}}"></slider>
   </div>
   <div class="justify-content-center text-center col-12 mt-5">
      <span class="mr-3">
        Max. Price
      </span>
      <span>
          {{sliderValue2 | currency}}
      </span>
    </div>
     <div class="justify-content-center text-center col-12 mt-5">
        <slider slideStop="executeMe()" ng-model="sliderValue2"
         min="{{minValue}}" step="{{step}}" max="{{maxValue}}"></slider>
     </div>
     <div class="justify-content-center text-center col-12 mt-5">
       <button class="btn btn-success" ng-click="ApplyFilter()">Apply Filter</button>
     </div>
 </div>
</div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" ng-controller="UserController">

    <a ng-href="cart" class="navbar-brand">
      <i class="fas fa-shopping-cart "></i>
      <span class="badge  rounded-circle text-light">{{CartCounter}}</span>
    </a>

    <a class="navbar-brand" ng-href="home">e.Shop.Com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <ul class="navbar-nav ml-auto nav-flex-icons">

        <li class="nav-item avatar">
          <a class="nav-link p-0" >
            <img ng-src="../../../assets/img/avatar.png" class="rounded-circle z-depth-0" alt="avatar image" height="35">
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="btn btn-secondary dropdown-toggle bg-light border-0 text-dark"  role="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{userName}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ng-controller="mainController">
            <a class="dropdown-item" ng-href="home">Home</a>
            <a class="dropdown-item" ng-show="isHome===1"  ng-click="openModal()">filter</a>
            <a class="dropdown-item" ng-click="Sync()">sync</a>
            <button class="dropdown-item" ng-click="logout()">Logout</button>
          </div>
        </li>
       


      </ul>
    </div>
  </div>
  
</nav>
