/* app css stylesheet */

.centered{
  margin-top: 30%;

}
.loginButton{
  width: 20%;
  border: 0;
  border-radius: 10px;
  height: 80%;
  margin: 10px;
}
#Error{
  color: red;
}
.topnav-right {
  float: right;
}

.notification {
 
  color: black;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 5px;
}


.badge {
  position: absolute;
  left: 25px;
  top: 40px;
  padding: 5px 10px;
  background: red;
  color: white;
}
.navbar-nav {
  flex-direction: row;
}

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.ProductDiv{
  margin: 5%;
}