/* app css stylesheet */
body{
  background-color: green;
}
.centered{
  margin-top: 30%;

}
.loginButton{
  width: 20%;
  border: 0;
  border-radius: 10px;
  height: 80%;
  margin: 10px;
}
#Error{
  color: red;
}
.topnav-right {
  float: right;
}

.notification {
  background-color:red;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 75%;
  background: red;
  color: white;
}
.navbar-nav {
  flex-direction: row;
}

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.ProductDiv{
  margin: 5%;
}